<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144450686215-bb60ftrak6nm89tv2jctendhfvredn2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144450686215-bb60ftrak6nm89tv2jctendhfvredn2h</string>
	<key>API_KEY</key>
	<string>AIzaSyB_P4l8pgNE8cACUablN8WggrL0mHTBZng</string>
	<key>GCM_SENDER_ID</key>
	<string>144450686215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericspark.Consequences-of-Climate-Change</string>
	<key>PROJECT_ID</key>
	<string>consequences-of-climate-change</string>
	<key>STORAGE_BUCKET</key>
	<string>consequences-of-climate-change.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:144450686215:ios:216cf5b916e52c85</string>
	<key>DATABASE_URL</key>
	<string>https://consequences-of-climate-change.firebaseio.com</string>
</dict>
</plist>